body{
    font-size: 17px;
    font-family: sans-serif;
    background: #eeeeee;
    margin: 0;
    margin-bottom: 120px;
}

#portrait {
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container{
    overflow: auto;
    height: 600px;
  display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction:row;
}

.container-portrait {
    margin-top: 50;
    width: 400px;
    padding: 15px;
  }
.about {
    max-width: 600px;
    margin-top: 50;
    padding: 15px;
  }
  
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #393e46;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eeeeee;
  color: #222831;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00adb5;
  color: #eeeeee;
}
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a{
      float: none;
      display: block;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;
  }
  